- name: Install core packages
  package: name={{ item }}
  with_items:
    # work
    - build-essential
    - graphicsmagick-libmagick-dev-compat
    - libmagickwand-dev
    - libidn11-dev
    - libldap2-dev
    - libsasl2-dev
    - libpq-dev
    - cmake
    - ccache
    - graphviz
    - git-crypt

    # cli
    - zsh
    - xsel
    - xclip
    - curl
    - git
    - htop
    - wget
    - ncdu
    - tree
    - whois
    - traceroute
    - iotop
    - mosh
    - httpie
    - grc

    # gui
    - gpa
    - meld
    - virtualbox
    - torbrowser-launcher

    # misc
    - apt-transport-https
    - python-gpgme

- name: Install ubuntu-restricted-extras
  package: name=ubuntu-restricted-extras
